/* STEP 2: Reset or normalize */

/* STEP 3: Apply basic layout styles */
body {
    font-family: sans-serif;
    background-color: #ccc;
    font-size: 100%;
    line-height: 1.5;
}
main {
    width: 80%;
    margin: 0 auto;
    padding: 1em 5%;
    background-color: #ddd;
}
header, section, footer {
    background-color: #fff;
    padding: 1em 5%;
    margin-bottom: 1em;
}
h2 {
    text-transform: uppercase;
}
/* STEP 4f: Attempt to set breakpoints for a watch (https://css-tricks.com/snippets/css/media-queries-for-standard-devices/) */
/* ----------- Moto 360 Watch ----------- */
@media (max-device-width: 218px) and (max-device-height: 281px) { 
    header, section, footer {
        background-color: black;
        color: white;
        font-size: 150%;
    }
}
/* STEP 4g: You'll need to add the watch to the Emulated Devices list in your browser dev tools - try to find the user-agent string, too */

/* STEP 4a: Build media query breakpoint at 320px and up */
@media only screen and (min-width: 320px) {
    body {
        font-size: 120%;
    }
    h1 {
        color: yellow;
    }
}
/* STEP 4b: Build media query breakpoint at 480px and up */
@media only screen and (min-width: 480px) {
    body {
        font-size: 140%;
    }
    h1 {
        color: orange;
    }
}
/* STEP 4c: Build media query breakpoint at 768px and up (2-column layout)*/
@media only screen and (min-width: 768px), (orientation: landscape) {
    h1 {
        color: red;
    }
    main {
        /* Set a float to clear a float */
        /*float: left;*/
        /* Add a clearfix hack, instead to maintain auto-centering */
    }
    main section {
        width: 35%;
        float: left;
        margin-left: 10%;
    }
    main section:first-child {
        margin-left: 0;
        width: 90%;
    }
    main section:nth-of-type(2) {
        margin-left: 0;
    }
    footer {
        clear: both;
    }
}
/* STEP 4e: Try to capture orientation landscape as well */

/* STEP 4d: Build media query breakpoint at 960px and up (3-column layout) */
@media only screen and (min-width: 960px) {
    body {
        font-size: 90%;
    }
    h1 {
        color: lightblue;
    }
    main section {
        width: 20%;
        margin-left: 5%;
    }
    /* Cascade over styles from earlier breakpoint */
    main section:first-child {
        width: 20%;
    }
    main section:nth-of-type(2) {
        margin-left: 5%;
    }
}
/* Clearfix thanks to https://css-tricks.com/snippets/css/clear-fix/ */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}